@*@model IEnumerable<Fangehull.Models.Monster>*@
@model Fangehull.Models.MonsterDifficultyViewModel

@{
    ViewData["Title"] = "Monsters";
}

<div class="pagetitle">
    <h1>Game Library - Monsters</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="GameLibrary" asp-action="Index">GameLibrary</a></li>
            <li class="breadcrumb-item active">Monsters</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<form asp-controller="Monsters" asp-action="Index" method="get">
    <p>
        Difficulty:
        <select asp-for="MonsterDifficulty" asp-items="Model.Difficulties">
            <option value="">All</option>
        </select>

        Monster Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.Monsters.First().MonsterName"></label>
            </th>
            <th>
                <label asp-for="@Model.Monsters.First().MaxHealtPoints"></label>
            </th>
            <th>
                <label asp-for="@Model.Monsters.First().Difficulty"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Monsters)
        {
            <tr>
                <td>
                    @item.MonsterName
                </td>
                <td>
                    @item.MaxHealtPoints
                </td>
                <td>
                    @item.Difficulty
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
