@model OstreCWEB.ViewModel.Characters.PlayableCharacterCreateView
@using System.Web;
@{
    ViewData["Title"] = "Set Class";
}

@*<div class="row">
    <div class="col-md-4 ">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="p-3 bg-opacity-75 border border-warning-subtle rounded-top" style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);
                color:goldenrod; text-align:center">
                <h2>Hero Class</h2>
            </div>
            <div class="p-3 bg-warning bg-opacity-75 border border-warning-subtle rounded-top" style="background: #eee; box-shadow: 0 8px 8px -4px black;">            
                <div class="form-group">
                    <input asp-for="RaceId" hidden="true"/>
                    <label asp-for="PlayableClassId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.PlayableClassId, new SelectList(Model.CharacterClasses,"Key","Value"),
                        " Please select class ",
                        new {
                            @class = "form-control"
                        })
                    <span asp-validation-for="PlayableClassId" class="text-danger"></span>
                </div>
            </div>
            <br />
                <div class="form-group">
                    <a asp-action="SetRace" class="btn"
                    style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);color:goldenrod; text-align:center">Set Race</a>
                    <input type="submit" value="Create" class="btn" asp-action="SetAttributes" asp-controller="PlayableCharacter"
                    style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);color:goldenrod; text-align:center"/>                    
                </div>                
        </form>
    </div>
</div><!--Form Set Class-->*@

<div class="row">
    <div class="col-md-12 ">
        <div class="col-md-5">
            <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="p-3 bg-light bg-opacity-75 border border-warning-subtle rounded" style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);
                color:goldenrod; text-align:center">
                <h2>Hero Class</h2>
            </div>
            <div class="p-3 bg-light bg-opacity-75 border border-warning-subtle rounded" style="background: #eee; box-shadow: 0 8px 8px -4px black;">            
                <div class="form-group">
                    <input asp-for="RaceId" hidden="true"/>
                        @foreach (var item in Model.CharacterClasses)
                        {
                            <div class="form-check">
                                <input asp-for="PlayableClassId" class="form-check-input" type="radio" value="@item.Key" id="class_@item.Key" required="text"/>
                                <label class="form-check-label" for="class_@item.Key">@item.Value</label>
                            </div>
                        }
                    <span asp-validation-for="PlayableClassId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="p-1 bg-light bg-opacity-75 border border-warning-subtle rounded" style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);
                color:goldenrod; text-align:center">
                <h4>Bonus</h4>
            </div>
            <div class="p-3 bg-light bg-opacity-75 border border-warning-subtle rounded">
                    <p id="classBonus"></p> 
            </div>
            <br />
                <div class="form-group">
                    <a asp-action="SetRace" class="btn"
                    style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);color:goldenrod; text-align:center">Set Race</a>
                    <input type="submit" value="Set Attributes" class="btn" asp-action="SetAttributes" asp-controller="PlayableCharacter"
                    style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);color:goldenrod; text-align:center"/> </input>                   
                </div>                
            </form>
        </div>
            <div class="p-1 bg-light bg-opacity-75 border border-warning-subtle rounded" style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);
                color:goldenrod; text-align:center">
                <h4>Description</h4>
            </div>
        <div class="col-md-12 p-3 bg-light bg-opacity-75 border border-warning-subtle rounded">
            <p id="description"></p><!--Class Description-->
        </div> 
    </div>
</div><!--Form Set Class-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  document.querySelectorAll(".form-check-input").forEach(function(input) {
    input.addEventListener("change", function() {
      var description = "";
      var classBonus = "";
      if (input.value === "1") {
        description = "@ViewBag.FighterDescription";
        classBonus = "@ViewBag.ClassInfoFighter";
      } else if (input.value === "2") {
        description = "@ViewBag.WizardDescription";
        classBonus = "@ViewBag.ClassInfoWizard";
      } else if (input.value === "3") {
        description = "@ViewBag.ClericDescription";
        classBonus = "@ViewBag.ClassInfoCleric";
      }
      document.querySelector("#description").textContent = description;
      document.querySelector("#classBonus").textContent = classBonus;
    });
  });
</script>