@model OstreCWEB.ViewModel.Characters.PlayableCharacterCreateView
@{
    ViewData["Title"] = "Set Name";
}

<div class="accordion" id="accordionExample" hidden="true">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Statistics
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div>
            <p>RaceId: @ViewBag.RaceId</p>
            <p>ClassId: @ViewBag.ClassId</p>
            <p>Str: @ViewBag.Str</p>
            <p>Dex: @ViewBag.Dex</p>
            <p>Con: @ViewBag.Con</p>
            <p>Int: @ViewBag.Int</p>
            <p>Wis: @ViewBag.Wis</p>
            <p>Cha: @ViewBag.Cha</p>
            <p>test @Model.Charisma</p>
        </div>
      </div>
    </div>
  </div>
</div><!--Statistics only for test-->

<div class="row">
    <div class="col-md-4 ">
        @*<partial name ="_SetClass" model="@Model"/>*@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden="true">
                <input asp-for="RaceId"/>
                <input asp-for="PlayableClassId"/>
                <input asp-for="Strenght"/>
                <input asp-for="Dexterity"/>
                <input asp-for="Constitution"/>
                <input asp-for="Intelligence"/>
                <input asp-for="Wisdom"/>
                <input asp-for="Charisma"/>
            </div><!--Attributes pass-->
                <div class="p-3 bg-light bg-opacity-75 border border-warning-subtle rounded" style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);
                color:goldenrod; text-align:center">
                    <h2>Hero Name</h2>
                </div>
                <div class="p-3 bg-light bg-opacity-75 border border-warning-subtle rounded" style="background: #eee; box-shadow: 0 8px 8px -4px black;">                
                     <div class="form-group">
                        <label asp-for="CharacterName" class="control-label"></label>
                        <input asp-for="CharacterName" id="characterName-input" class="form-control" placeholder="Your hero's name" required="text"/>
                        @*@<span asp-validation-for="CharacterName" class="text-danger"></span>*@
                        <br />
                    </div>
                    <input type="button" id="randomNameButton" value="Generate Name" style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);color:goldenrod; text-align:center">
                </div>
                <br />
                <div class="form-group">
                    <input asp-action="SetAttributes" type="submit" value="Set Attributes" class="btn" style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);color:goldenrod; text-align:center"/>
                    <input asp-action="Summary" type="submit" value="Summary" class="btn" style="background: radial-gradient(circle at -4% -12.9%, rgb(90, 98, 110) 0.3%, rgb(33, 31, 33) 90.2%);color:goldenrod; text-align:center"/>
                </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function(){
    var names = ["Gandalf", "Harry", "Isaac", "Jack", "Karl", "Luke", "Merlin", "Nathan", "Oscar", "Peter", "Quincy", "Richard", "Samuel", "Tom", "Ulrich", "Victor", "William", "Xander", "Yorick", "Zachary"];


    function generateRandomName() {
      var randomIndex = Math.floor(Math.random() * names.length);
      var randomName = names[randomIndex];
      $("#characterName-input").val(randomName);
    }

    $("#randomNameButton").on("click", function() {
      generateRandomName();
    });
  });
</script>
