@using OstreCWEB.Data.Repository.Characters.CharacterModels
@using OstreCWEB.ViewModel.Characters
@using OstreCWEB.Data.Repository.Characters.Enums
@* @model PaginatedList<OstreCWEB.ViewModel.Characters.Item>*@
@model PaginatedList<Item>
@{
}
<div class="card">
    <div class="card-body">

        <h5 class="card-title">Items</h5>
        <br />
        <a asp-controller="Items" asp-action="Create" type="button" class="btn btn-primary">Add new item</a>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().Name"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().ItemType"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().ArmorClass"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().ActionToTrigger.ActionName"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().DeleteOnUse"></Label></th>
                    <th scope="col"> <Label>Equipable</Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().PlayableClass"></Label></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Name</th>
                        <td>@item.ItemType.ToString()</td>
                        <td>@(item.ItemType == ItemType.Armor || item.ItemType == ItemType.Shield ? item.ArmorClass : "N/A")</td>
                        <td>@(item.ActionToTrigger != null ? item.ActionToTrigger.ActionName : "N/A")</td>
                        <td>@(item.DeleteOnUse ? "Yes" : "No")</td>
                        <td>@(item.ItemType != ItemType.SpecialItem ? "Yes" : "No")</td>
                        <td>@(item.PlayableClass != null ? item.PlayableClass.ClassName : "N/A")</td>
                        <td><a asp-controller="Items" asp-action="Edit" asp-route-id="@item.ItemId" type="button" class="btn btn-primary">Edit</a></td>
                        <td><a asp-controller="Items" asp-action="Delete" asp-route-id="@item.ItemId" type="button" class="btn btn-primary">Delete</a></td>
                    </tr>
                }
            </tbody>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class=" page-link @prevDisabled">
                            Previous
                        </a>
                    </li>
                    @for(var i = 1; i<=Model.TotalPages;i++)
                    {
                        <li class="page-item">
                            <a class="page-link"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(i)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                            >@i</a>
                        </li>
                    }
                   
                    <li class="page-item">
                     
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="page-link @nextDisabled">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
          
          
        </table>
        <!-- End Default Table Example -->
    </div>
</div>