@using OstreCWEB.Data.Repository.StoryModels.Enums;
@model OstreCWEB.ViewModel.StoryBuilder.ChoiceDetailsView

@{
    ViewData["Title"] = $"Story " + @Model.NameOfStory;
}

<div class="pagetitle">
    <h1>@Model.NameOfStory</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="StoryBuilder" asp-action="Index">StoryBuilder</a></li>
            <li class="breadcrumb-item active">Story details</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Description:</h5>
        @Model.DescriptionOfStory<br />
        Amount of Paragraphs: @Model.AmountOfParagraphs
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a asp-action="EditStory" asp-route-id="@Model.StoryId" type="button" class="btn btn-warning">Edit</a>
        <a asp-action="StoryParagraphsList" asp-route-id="@Model.StoryId" type="button" class="btn btn-primary">Show All Paragraphs</a>
        <a asp-action="DeleteStory" asp-route-id="@Model.StoryId" type="button" class="btn btn-danger">Delete</a>
        <a asp-action="Index" type="button" class="btn btn-success">Back to List</a>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Previous Paragraph</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <label asp-for="PreviousParagraph.ParagraphType"></label>
                    </th>
                    <th>
                        <label asp-for="PreviousParagraph.StageDescription"></label>
                    </th>
                    <th>____Action____</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.PreviousParagraph.ParagraphType
                    </td>
                    <td>
                        @Model.PreviousParagraph.StageDescription
                    </td>
                    <td>
                        <a asp-route-name="StoryBuilder" asp-action="ParagraphDetails" asp-route-id="@Model.StoryId" asp-route-paragraphId="@Model.PreviousParagraph.Id" type="button" class="btn btn-success">Show Details!</a>
                    </td>
                </tr>
            </tbody>
        </table>
        @if (@Model.PreviousParagraph.ParagraphType != ParagraphType.Test && @Model.PreviousParagraph.ParagraphType != ParagraphType.Fight)
        {
            <a asp-action="ChangePreviousParagraph" type="button" class="btn btn-warning">Change Previous Paragraph</a>
        }
        @if (@Model.PreviousParagraph.ParagraphType == ParagraphType.Test || @Model.PreviousParagraph.ParagraphType == ParagraphType.Fight)
        {
             <div><i>*You cannot change a choice that comes from a Test or Fight paragraph</i></div>
        }
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Current Choice</h5>

        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="@Model.CurrentChoice.ChoiceText"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.CurrentChoice.ChoiceText
            </dd>           
        </dl>
        <a asp-action="EditChoice" asp-route-id="@Model.CurrentChoice.Id" type="button" class="btn btn-primary">Edit Choice</a>

        @if (Model.Delete)
        {
            <a asp-route-name="DeleteChoice" asp-action="DeleteChoice" asp-route-choiceId="@Model.CurrentChoice.Id" asp-route-storyId="@Model.StoryId" type="button" class="btn btn-danger">Delete!</a>
        }
        @if (!Model.Delete)
        {
            <div><i>*You cannot remove a choice that comes from a Test or Fight paragraph</i></div>
        }
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Next Paragraphs</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <label asp-for="NextParagraph.ParagraphType"></label>
                    </th>
                    <th>
                        <label asp-for="NextParagraph.StageDescription"></label>
                    </th>
                    <th>____Action____</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.NextParagraph.ParagraphType
                    </td>
                    <td>
                        @Model.NextParagraph.StageDescription
                    </td>
                    <td>
                        <a asp-route-name="StoryBuilder" asp-action="ParagraphDetails" asp-route-id="@Model.StoryId" asp-route-paragraphId="@Model.NextParagraph.Id" type="button" class="btn btn-success">Show Details!</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a asp-action="ChangeNextParagraph" type="button" class="btn btn-warning">Change Next Paragraph</a>
    </div>
</div>