@model OstreCWEB.ViewModel.StoryBuilder.StoryDetailsView

@{
    ViewData["Title"] = $"Story " + @Model.Name;
}

<div class="col-xxl-4 col-md-6">
    <div class="card info-card sales-card">
        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></li>
                <li><a asp-action="Delete" asp-route-id="@Model.Id">Delete</a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">@Model.Name  </h5>
            Description:<br />
            @Model.Description<br />
            Amount of Paragraphs: @Model.AmountOfParagraphs
        </div>
    </div>
</div>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    @*<table class="table">
    <thead>
    <tr>
    <th>
    <label asp-for="ParagraphsView.First().ParagraphType"></label>
    </th>
    <th>
    <label asp-for="ParagraphsView.First().StageDescription"></label>
    </th>
    <th>
    <label asp-for="ParagraphsView.First().AmountOfChoices"></label>
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ParagraphsView)
    {
    <tr>
    <td>
    @item.ParagraphType
    </td>
    <td>
    @item.StageDescription
    </td>
    <td>
    @item.AmountOfChoices
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="ParagraphDetails" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table>*@

