@model OstreCWEB.ViewModel.StoryBuilder.StoryAllParagraphsView

@{
    ViewData["Title"] = $"Story " + @Model.Name;
}

<div class="pagetitle">
    <h1>@Model.Name</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="StoryBuilder" asp-action="Index">StoryBuilder</a></li>
            <li class="breadcrumb-item active">Story details</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Description:</h5>
        @Model.Description<br />
        Amount of Paragraphs: @Model.AmountOfParagraphs
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-warning">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" type="button" class="btn btn-danger">Delete</a>
        <a asp-route-name="storyBuilder" asp-action="Details" asp-route-id="@Model.Id" asp-route-paragraphId="@Model.FirstParagraphId" type="button" class="btn btn-primary">Show Details</a>
        <a asp-action="Index" type="button" class="btn btn-success">Back to List</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Next Paragraphs</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <label asp-for="Paragraphs.First().ParagraphType"></label>
                    </th>
                    <th>
                        <label asp-for="Paragraphs.First().StageDescription"></label>
                    </th>
                    <th>
                        <label asp-for="Paragraphs.First().AmountOfChoices"></label>
                    </th>
                    <th>____Action____</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Paragraphs)
                {
                    <tr>
                        <td>
                            @item.ParagraphType
                        </td>
                        <td>
                            @item.StageDescription
                        </td>
                        <td>
                            @item.AmountOfChoices
                        </td>
                        <td>
                            @*                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                            <a asp-route-name="storyBuilder" asp-action="Details" asp-route-id="@Model.Id" asp-route-paragraphId="@item.Id" type="button" class="btn btn-success">Go here!</a>
                            @*                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        Paragraph Type
                    </td>
                    <td>
                        Stage Description
                    </td>
                    <td>
                        Amount Of Choices
                    </td>
                    <td>
                        <a asp-action="CreateParagrpah" type="button" class="btn btn-success">Create new Paragraph</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
