@using OstreCWEB.Data.Repository.Characters.Enums
@model OstreCWEB.ViewModel.Characters.CharacterActionView

<h4>@Model.ActionName</h4>
<dl class="row">
    <dt class="col-sm-2 border-bottom"><label asp-for="@Model.PossibleTarget"></label> </dt>
    <dd class="col-sm-10">@Model.PossibleTarget.ToString()</dd>
    <dt class="col-sm-2 border-bottom"><label asp-for="@Model.ActionDescription"></label> </dt>
    <dd class="col-sm-10"> @Model.ActionDescription</dd>
     @if (Model.AggressiveAction)
    {
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.SavingThrowPossible"></label> </dt>
        <dd class="col-sm-10">@Model.SavingThrowPossible</dd>
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.StatForTest"></label></dt>
        <dd class="col-sm-10">@Model.StatForTest.ToString()</dd>
    }
    @if(Model.ActionType != CharacterActionType.SpecialAction){
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.Max_Dmg"></label> </dt>
        <dd class="col-sm-10">@Model.Max_Dmg</dd>
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.Hit_Dice_Nr"></label> </dt>
        <dd class="col-sm-10"> @Model.Hit_Dice_Nr</dd>
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.Flat_Dmg"></label> </dt>
        <dd class="col-sm-10">@Model.Flat_Dmg</dd> 
 }
    @if (Model.CanShowUsesMax)
    {
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.UsesMaxBeforeRest"></label></dt>
        <dd class="col-sm-10">@Model.UsesMaxBeforeRest</dd>
    }
    @if(Model.InflictsStatus){
    <partial name="_Status" model="@Model.Status"/>
    }  
</dl> 
   
 
  


