@model OstreCWEB.Data.Repository.Identity.Registration
@{
    Layout = null;
}

<html>
  <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fangehull</title>

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File --> 
    <link href="~/css/site.css" rel="stylesheet">
</head>
<style>
    body{
     background-image: url("../img/moon.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
</style>
<body>
<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">Fangehull</span>
                        </a>
                    </div><div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                <p class="text-center small">Enter your personal details to create account</p>
                            </div>
                            <form asp-action="Registration"  class="row g-3 needs-validation" novalidate="">
                                <div class="col-12">
                                    <label asp-for="@Model.Name" class="form-label"></label> 
                                    <input type="text" asp-for="Name" name="name" class="form-control" id="yourName" required="">
                                    <div class="invalid-feedback"> <span class="text-danger" asp-validation-for="Name"></span></div>
                                </div>
                                <div class="col-12">
                                    <label asp-for="@Model.Email" class="form-label">Your Email</label>
                                    <input type="email" asp-for="Email" name="email" class="form-control" id="yourEmail" required="">
                                    <div class="invalid-feedback"><span class="text-danger" asp-validation-for="Email"></span></div>
                                </div>
                                <div class="col-12">
                                        <label asp-for="@Model.UserName" class="form-label">Username</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend" ></span>
                                        <input type="text" asp-for="UserName"  name="username" class="form-control" id="yourUsername" required="">
                                        <div class="invalid-feedback"><span class="text-danger" asp-validation-for="UserName"></span></div>
                                    </div>
                                </div><div class="col-12">
                                        <label asp-for="@Model.PasswordConfirm" class="form-label">Password</label>
                                    <input type="password" asp-for="PasswordConfirm" name="password" class="form-control" id="yourPassword" required="">
                                    <div class="invalid-feedback"><span class="text-danger" asp-validation-for="Password"></span></div> 
                                <div class="col-12">
                                    @if (TempData["msg"] != null)
                                    {
                                        <div class="form-group">
                                            <span class="text-info">@TempData["msg"]</span>
                                        </div>
                                    }
                                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                </div>
                                <div class="col-12"> 
                                        Already have an account? <a asp-Controller="Login" asp-action="Login">Log in</a> 
                                </div> 
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
</div> 
</body> 
</html>