@model OstreCWEB.ViewModel.Game.StartGameView
@{
    ViewData["Title"] = "Fight";
}
<!--Playable Character-->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Start Game</h5>
                    <div>
                        <div><a asp-controller="Game" asp-action="StartGame" type="button" class="btn btn-primary">Start New Game!</a></div>
                    </div>
                    <h5 class="card-title">Chosen Character</h5>

                    @if (Model.ActiveCharacter != null)
                    {
                        <div >@Model.ActiveCharacter.CharacterName</div>
                    }
                    else
                    {
                        <div class="text-danger">Choose a character!</div>
                    }
                    <h5 class="card-title">Chosen Story</h5>
                    @if (Model.ActiveStory != null)
                    {
                        <div>@Model.ActiveStory.Name</div>
                    }
                    else
                    {
                        <div class="text-danger">Choose a story to play !</div>
                    }  
                    @if (TempData["msg"] != null) 
                                    {
                                        <div class="msg">
                            <span class="text-danger"> @TempData["msg"] </span>
                                        </div>
                                    }
                </div>
            </div> 

            <div class="card">
                <div class="card-body">
                    <!-- Accordion without outline borders -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <label asp-for="@Model.User.UserParagraphs"></label>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    @if (Model.User.UserParagraphs != null && Model.User.UserParagraphs.Any())
                                    {
                                        <partial name="_UserParagraphRow" model="@Model.User.UserParagraphs" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <label asp-for="@Model.User.CharactersCreated"></label>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    @if (Model.User.CharactersCreated != null && Model.User.CharactersCreated.Any())
                                    {
                                        <partial name="_PlayableCharacterRow" model="@Model.User.CharactersCreated" />
                                    }
                                    else
                                    {
                                        <div>You didn't create any character yet!'</div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <label asp-for="@Model.User.StoriesCreated"></label>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body"> 
                                    @if (Model.User.StoriesCreated != null && Model.User.StoriesCreated.Any())
                                    {
                                        <partial name="_StoryRow" model="@Model.User.StoriesCreated" />
                                    }
                                    else
                                    {
                                        <div>You didn't create any story yet!'</div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    <label asp-for="@Model.OtherUsersCharacters"></label>
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    @if (Model.OtherUsersCharacters != null && Model.OtherUsersCharacters.Any())
                                    {
                                        <partial name="_PlayableCharacterRow" model="@Model.OtherUsersCharacters" />
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    <label asp-for="@Model.OtherUsersStories"></label>
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    @if (Model.OtherUsersStories != null && Model.OtherUsersStories.Any())
                                    {
                                        <partial name="_StoryRow" model="@Model.OtherUsersStories" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div><!-- End Accordion without outline borders -->

                </div>
            </div>
            <!--Column end-->
        </div>
    </div>
</section>
<script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        }
                                            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>   